.bienvenido-titulo {
    font-size: 36px; /* Tamaño de la fuente */
    color: #0066cc; /* Color del texto */
    text-align: center; /* Alineación del texto */
    /* Otros estilos según tus preferencias */
}
